/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 20, 2018, 2:41:18 PM
    Author     : EOHDigital
*/



.matrix-Theme{
   
    color: #33ff00;


}

body.matrix-Theme{margin: 0px;
                  max-width: 100%;
                  background-image: url('https://media.giphy.com/media/WoD6JZnwap6s8/giphy.gif');
                  background-size: cover;}
nav.matrix-Theme{
    
   background-color: black;
    font-family: 'Sirin Stencil', cursive;
    font-size: xx-large;
    width: 100%;
    border-bottom: 5px dotted #33ff00;
    outline: 5px dotted #33ff00;
    background-attachment: fixed;



}
ul.matrix-Theme{
    margin: 0px;
    alignment-adjust: middle;
    text-align: center;

}

ul.matrix-Theme li{

    list-style: none;
    margin-left:  15px;
    margin-right: 15px;
    display: inline-block;
    padding-bottom: 5px;

}
ul.matrix-Theme li a{


    margin: auto;
    padding-left: 15px;
    padding-right: 15px;

    border-right:  5px solid black;
    border-left:  5px solid black;
    color: #33ff00;

    text-decoration: none;

}
ul.matrix-Theme li a:hover{
    border-right:  5px solid #33ff00;
    border-left:  5px solid #33ff00;
    border-radius: 15px;

}

.matrix-Theme-Text-Elements{
  
    width: 98%;
    margin-top:  1%;
    border: 5px solid #33ff00;
    border-radius: 4px;
    background-color: black;

}


.matrix-Theme li a.active{
    border-right:  5px solid #33ff00;
    border-left:  5px solid #33ff00;
    border-radius: 15px;
}
h2.matrix-Theme{

    text-align: center;
    font-family: 'Sirin Stencil', cursive;
    font-size: 2vw;


}
.Matrix-Left-From{width: 9%;
                 border: 5px dotted #33ff00;
}

.matrix-From-Container{
    width: 98%;
    
}
.Matrix-From{
    
     width: 70%;
    margin-top:   3%;
    border: 5px solid #33ff00;
    border-radius: 4px;
   background-color: black;
    
}
.matrix-From-Container label{
    margin-left: 10%;
    font-family: 'Sirin Stencil', cursive;
    font-size: 30px;
}
.matrix-From-Container input{
    margin: 0 10% 0 10%;
    width: 80%;
       border: 5px dotted #33ff00;
       background-color: black;
        padding: 0.5%;
        font-size: 25px;
        border-radius: 14px;
       
}
.matrix-From-Container input select textArea{
   
    color: #33ff00;
}
textarea:focus, input:focus {
    color: #33ff00;
    border: 5px solid #33ff00;
  
  
}